#psp-projects ul.psp-task-list.checklist li strong:before {
	content: '◻';
	display: inline-block;
	margin-right: 5px;
	font-size: 24px;
}

#psp-projects ul.psp-task-list.checklist li span {
	display: none;
}

#psp-projects ul.psp-task-list.checklist li.psp-is-sequential {
	opacity: 0.5;
}

#psp-projects ul.psp-task-list.checklist li.psp-is-sequential strong {
	cursor: default;
}

#psp-projects .psp-phase.phase-complete + .psp-phase ul.psp-task-list.checklist li:first-child,
#psp-projects .psp-task-list li.complete + li.psp-is-sequential {
	opacity: 1;
}

#psp-projects .psp-phase.phase-complete + .psp-phase ul.psp-task-list.checklist li:first-child strong,
#psp-projects .psp-task-list li.complete + li.psp-is-sequential strong {
	cursor: pointer;
}

#psp-projects .psp-phase.phase-complete + .psp-phase ul.psp-task-list.checklist li:first-child span.psp-task-edit-links,
#psp-projects ul.psp-task-list.checklist li.complete + li.psp-is-sequential:hover span.psp-task-edit-links {
	display: none !important;
}

#psp-projects .psp-task-list li.complete +

#psp-projects ul.psp-task-list.checklist li.complete {
	opacity: 0.5;
}

#psp-projects ul.psp-task-list.checklist li.complete strong:before {
	opacity: 0.5;
	text-decoration: none;
	content: '✓';
	font-size: 16px;
}

#psp-projects ul.psp-task-list.checklist li strong {
	cursor: pointer;
}

#psp-projects ul.psp-task-list.checklist li:hover .task-edit-link,
#psp-projects ul.psp-task-list.checklist .task-item:hover .psp-task-edit-links,
#psp-projects ul.psp-task-list.checklist li:hover .complete-task-link {
	display: none !important;
}
